
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-danger">
    Bu sayfaya giriş yetkiniz yok.
</div>
<a href="/Admin/Home/Index">Ana Sayfaya Dön</a>
