
@{ Layout = null; }





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Öğrenci İşleri | Giriş Sayfası</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminAssets/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Öğrenci İşleri</b>Giriş</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">

                <form>
                    <div class="input-group mb-3">
                        <input type="email" id="txtEmail" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="txtPassword" class="form-control" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="button" id="btnGiris" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <p class="mb-1 ml-5">
                            <a data-toggle="modal" data-target="#ForgetPassword" href="#">Şifremi Unuttum</a>
                        </p>
                        <!-- /.col -->
                    </div>
                </form>


            </div>
            <div class="card-footer">
            </div>




            <div class="modal" tabindex="-1" id="ForgetPassword" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Şifremi Unuttum</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <form>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="text" class="form-control" id="txtFgEmail" placeholder="Email Adresinizi Girin" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="sendPassword" class="btn btn-primary">Şifre Gönder</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/AdminAssets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminAssets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminAssets/dist/js/adminlte.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnGiris").click(function () {
                var formModel = {
                    Email: $("#txtEmail").val(),
                    Password: $("#txtPassword").val()
                }
                $.ajax({
                    url: "/LogIn/LogIn",
                    method: "post",
                    dataType: "json",
                    data: formModel,
                    success: function (response) {
                        if (!response.result) {
                            var content = "<div class='alert alert-" + response.alertstyle + "'>" + response.message + "</div>"
                            $(".card-footer").html("")
                            $(".card-footer").html(content);
                        }
                        else
                            window.location.href="/admin/home/index"
                    }

                });
            });
            $('#sendPassword').click(function () {
                var model = {
                    Email: $("#txtFgEmail").val()
                }
                $.ajax({
                    url: "/LogIn/SendPassword",
                    method: "post",
                    dataType: "json",
                    data: { vm: model },
                    success: function (response) {
                        alert(response.message)
                    }
                })

            })

        });
    </script>
</body>
</html>
