@{
    ViewData["Title"] = "Oğuz Ziya | Ana Sayfa";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <div class="text-center">
        <h1>Oğuz Ziya Üniversite Otomasyon Projesi</h1>
    </div>
</body>
</html>